<script setup>
  import MapLoader from '@/components/MapLoader.vue';
  import LogoTranspetro from '@/components/LogoTranspetro.vue';
  import { Bars3Icon } from '@heroicons/vue/24/outline'
  import { onMounted, ref, reactive } from 'vue';
  import SearchBar from '@/components/SearchBar.vue';
  import CardSearch from '@/components/CardSearch.vue';
  import EmbarcacaoModal from '@/components/EmbarcacaoModal.vue';
  import ContextMenu from '@/components/ContextMenu.vue';
  import HorizontalBar from '../components/HorizontalBar.vue';
  import {entityStore} from '@/stores/entity.js'
  import {useEntities} from '@/stores/entities'
  import { useMapStore } from '@/stores/map'

  const storeEntity = entityStore()
  const entitiesStore = useEntities()
  const mapStore = useMapStore()
  const is_expanded = ref(false);
  const ToggleMenu = () => {
    console.log(is_expanded.value)
    is_expanded.value = !is_expanded.value;
  }
  
  const mapConfig = {
    center: {
        lat: -22.65914020758867,
        lng: -42.9151611328125
    },
    disableDefaultUI: true,
    zoom: 9
  };
</script>

<template>
  <main class="h-screen w-full flex justify-center items-center" :class="[mapStore.darkMode?'dark':'']">
    <HorizontalBar class="header-top">Safe Maps</HorizontalBar>
    <!-- <LogoTranspetro/> -->
    <EmbarcacaoModal/>
    <section class="fixed flex flex-col top-14 p-1 right-8 z-40">
      <!-- <SearchBar class="w-92"/> -->
      <!-- {{ entitiesStore.entitiesQueries }} -->
      <div class="bg-white bg-opacity-50 dark:bg-dark dark:bg-opacity-50  mt-1 px-2 rounded-xl result-search"
        v-if="entitiesStore.entitiesQueries.length > 0"
      >
        <CardSearch v-for="entity in entitiesStore.entitiesQueries" :key="entity.name+entity.type+entity.id"
          class="last:mb-3"
          :title="entity.name"
          :icon="entity.type"
        />
      </div>
    </section>
    <MapLoader 
      :map-config="mapConfig"
      apiKey="AIzaSyC4sXjIMPKH_vADUZ55Wz86vshpoMdixHo"
      class="h-screen w-full z-0"
    />
  </main>
</template>

<style scoped>
  .header-top{
    @apply fixed w-full
      bg-white
      bg-opacity-90
      h-14
      top-0
      flex flex-row-reverse
      align-middle
      dark:bg-dark
      /* border-b border-b-dark border-opacity-30 */
      /* dark:border-b-white dark:border-opacity-30 */
  }
  .toggle-menu{
    @apply fixed
    top-5 right-10
    z-40
    w-10 h-10
    p-2
    bg-[#68b48c]
    shadow-lg
    text-white
    rounded-xl
    hover:bg-brgreen  
    hover:bg-opacity-80
    hover:cursor-pointer
  }
</style>