<script setup>
  import {useRouter } from 'vue-router'
  import { ref, computed, reactive } from 'vue'
  import LogoTranspetro from '@/components/LogoTranspetro.vue';
  import safe_dataserver from '@/services/safe_dataserver.js'
  import { useAuth } from '@/stores/auth.js'

  const storeAuth = useAuth()
  const router = useRouter()
  const form_data = {
    login: ''
    , password: ''
    , loading: false
  }
  let loading=ref(0);
  let isError=ref(false);
  let isErrorMessage = ''

  function closeErrorLogin() {
    isError.value = false
  }

  function teste(){
    console.log('login com azure ad')
  }

  async function getFormValues() {
    const formData = new FormData();
    formData.append('username', this.form_data.login);
    formData.append('password', this.form_data.password);
    loading.value = 1

    // const { data } = await safe_dataserver.post('/maps',formData);
    
    try {
      // storeAuth.setUser(this.form_data.login);
      // storeAuth.setToken(data.token);
      storeAuth.setUser('teste');//(this.form_data.login);
      storeAuth.setToken('123');//data.token);
      
      router.push({ name: 'home' });
      loading.value = 0;
      console.log('terminado')
    } catch (error) {
      isErrorMessage = "Falha ao fazer login"
      isError.value = true
    }
    
    // if (user === 'teste' && pssw === '123') {
      
    //   console.log(loading)

    //   setTimeout(() => {
    //         console.log(this.form_data);
    //         router.push({ path: '/' });
    //         loading.value = 0;
    //       }, 2000);
    // } else {
    //   isErrorMessage = "Usuário ou senha incorreto"
    //   isError.value = true
    // }
  }
</script>

<template>
  <div class="content">
    <LogoTranspetro
      class="h-17 pt-6 pb-4"
    />
    <h1 class="site-name">SAFE</h1>
    <h3 class="app-description">Sistema de Acompanhamento de Frota e Embarcações</h3>
    
    <form action="#" @submit.prevent="getFormValues()" class="auth-form">
        <div v-if="isError" :class="{'is-error': isError}" >
          {{ isErrorMessage }}<button class="bg-none align-left" @click="closeErrorLogin()">X</button>
        </div>
      <div class="basis-1 mb-5">
        <label for="login_field">Username or Email</label>
        <input type="text" name="login" id="login_field" class="w-full" v-model="form_data.login">
      </div>
      <div class="container columns-1 mb-5">
        <div class="grid grid-cols-2 pt-2">
          <label for="password_field">Password</label>
          <span class="forgot">
            <a href="#" target="_blank" rel="noopener noreferrer" >Forgot Password?</a>
          </span>
        </div>
        <input type="password" name="password" id="password_field" class="w-full" v-model="form_data.password">
      </div>
      <button id="signinBasicAuth" type="submit" class="btn-basic-auth" v-if="loading==false">Login</button>
      <button id="signinBasicAuth" type="button" class="btn-loading" v-else-if="loading==true">loading</button>
      <button id="signinAAD" type="button" @click="teste()" class="btn-azure-ad">
        <i class="icon-emb icon-svg-aad mr-3"></i>
        <span>Azure Active Directory</span>
      </button>
    </form>    
    
  </div>
</template>

<style scoped>
  .app-description{
    @apply text-center mb-2
  }
  .content{
    @apply flex flex-col items-center
  }
  .forgot {
    @apply text-right text-sm
      hover:text-blue-600 hover:underline
  }
  .is-error {
    @apply flex flex-row justify-between
      w-full
      px-2 py-1 my-2
      border-red-300 border rounded-lg
      bg-red-500 
      
      text-white
  }
  .site-name {
    @apply pb-1
      text-2xl text-black
      dark:text-white
  }
  .btn-loading {
    @apply w-full
      p-1
      rounded
      bg-blue-600
      text-white
      
  }
  .btn-basic-auth {
    @apply w-full
      p-1
      rounded
      bg-brgreen
      text-white
      hover:opacity-60
  }
  .btn-azure-ad {
    @apply w-full
      p-1 mt-2
      border-2 border-aad rounded
      bg-white text-black
      dark:border-transparent
      hover:bg-aad hover:text-white
  }
  input{
    @apply p-1 
      border border-darkb rounded
      dark:bg-dark
      dark:text-white
  }
  .auth-form {
    @apply flex flex-col
      items-center
      w-72
      p-4 
      border border-darkb rounded-lg
      dark:bg-dark
      dark:text-white 
  }
</style>