<template>
    <div class="flex flex-col text-2xl text-black">
        <div class="card-content" @click="toVessel">
            <IconFerry
                class="w-14 h-14 p-2 mr-2 dark:fill-white"
                v-if="icon=='vessel'"
            />
            <IconAnchor
                class="w-14 h-14 p-2 mr-2 dark:fill-white"
                v-if="icon=='port'"
            />
            <p>{{title}}</p>
        </div>
    </div>

</template>
<script setup>
    import IconFerry from '@/components/icons/IconFerry.vue';
    import IconAnchor from '@/components/icons/IconAnchor.vue';
    import { useMapStore } from '@/stores/map.js';
    import { useEntities } from '@/stores/entities';

    const storeMap = useMapStore()
    const entitiesStore = useEntities()
    const props = defineProps(['title', 'icon'])

    const toVessel = () => {
        var entity = entitiesStore.getEntity(props.icon, props.title)
        
        if (entity !== undefined){
            console.log(entity)
            storeMap.setCenterMap({lat: entity.latitude, lng:entity.longitude})
            entitiesStore.showEntityOnly(entity, props.icon)
            entitiesStore.setCleanQuery()
        }
    }
</script>
<style scoped>
    .card-content{
        @apply flex flex-row 
            items-center
            w-96
            mx-3
            mt-3
            px-3
            bg-white
            hover:bg-brgreen hover:bg-opacity-60 hover:text-white hover:cursor-pointer
            dark:text-white
            dark:bg-dark dark:hover:bg-opacity-60 dark:hover:bg-brgreen
            rounded-lg
            text-2xl
            shadow-md
    }
    .footer-search{
        @apply h-10 bg-white rounded-b-lg
        dark:bg-dark 
    }
    .result-search p{
        @apply  block 
    }
    .result-search{
        @apply  text-2xl rounded-lg pt-2
    }
</style>