<template>
    <transition
      leave-active-class="transition duration-75 linear"
      leave-from-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
        <div v-show="isOpen" class="modal-background" @click="closeModal">
        </div>
    </transition>
    <transition
      enter-active-class="transition duration-100 ease-out"
      enter-from-class="transform scale-95 opacity-0"
      enter-to-class="transform scale-100 opacity-100"
      leave-active-class="transition duration-75 ease-in"
      leave-from-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
        <div v-show="isOpen" class="content-modal">
            <div class="">
                <div class="content-header">
                    <XMarkIcon
                        class="close-icon"
                        @click="closeModal"
                    />
                    <!-- <LogoTranspetro class="w-6"/> -->
                </div>
                <Disclosure as="div" class="mt-2" v-slot="{ open }">
                    <DisclosureButton
                        class="btn-context text-dark hover:text-white"
                    >
                    <span>Ferramentas</span>
                    <ChevronUpIcon
                        :class="open ? 'rotate-180 transform' : ''"
                        class="h-5 w-5 "
                    />
                    </DisclosureButton>
                    <DisclosurePanel class="px-4 text-sm">
                        <Menu as='div' class="profile-menu">
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                                @click="cleanMap"
                            >
                                <TrashIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Limpar Mapa
                            </MenuItem>
                            <!-- <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <MagnifyingGlassIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Buscar Regiões
                            </MenuItem> -->
                        </Menu>
                    </DisclosurePanel>
                </Disclosure>
    <!-- 
                <Disclosure as="div" class="mt-2" v-slot="{ open }">
                    <DisclosureButton
                        class="btn-context text-dark hover:text-white"
                    >
                    <span>Zona/Rota</span>
                    <ChevronUpIcon
                        :class="open ? 'rotate-180 transform' : ''"
                        class="h-5 w-5 "
                    />
                    </DisclosureButton>
                    <DisclosurePanel class="px-4 text-sm">
                        <Menu as='div' class="profile-menu">
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <PlusIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Nova Zona
                            </MenuItem>
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <PlusIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Nova Rota
                            </MenuItem>
                        </Menu>
                    </DisclosurePanel>
                </Disclosure> -->
    <!-- 
                <Disclosure as="div" class="mt-2" v-slot="{ open }">
                    <DisclosureButton
                        class="btn-context text-dark hover:text-white"
                    >
                    <span>Opções</span>
                    <ChevronUpIcon
                        :class="open ? 'rotate-180 transform' : ''"
                        class="h-5 w-5 "
                    />
                    </DisclosureButton>
                    <DisclosurePanel class="px-4 text-sm">
                        <Menu as='div' class="profile-menu">
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <ShieldCheckIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Zona de Guarda
                            </MenuItem>
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <TagIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Legendas
                            </MenuItem>
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <SignalIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Nomes AIS
                            </MenuItem>
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <DocumentArrowDownIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Exportar Dados AIS
                            </MenuItem>
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <BackspaceIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Remover Navios Offline 4h+
                            </MenuItem>
                        </Menu>
                    </DisclosurePanel>
                </Disclosure> -->

                <Disclosure as="div" class="mt-2" v-slot="{ open }">
                    <DisclosureButton
                        class="btn-context text-dark hover:text-white"
                    >
                    <span>Camadas</span>
                    <ChevronUpIcon
                        :class="open ? 'rotate-180 transform' : ''"
                        class="h-5 w-5 "
                    />
                    </DisclosureButton>
                    <DisclosurePanel class="px-4 text-sm">
                        <Menu as='div' class="profile-menu">
                            <!-- <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                            >
                                <ExclamationTriangleIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Áreas Críficas
                            </MenuItem> -->
                            <MenuItem as='button'
                                v-slot="{ active }"
                                class="profile-menu-item"
                                @click="getNearbyEntitys"
                            >
                                <ArrowPathRoundedSquareIcon
                                    class="icon"
                                    aria-hidden="true"
                                />
                                Embarcações próximas
                            </MenuItem>
                        </Menu>
                    </DisclosurePanel>
                </Disclosure>
            </div>
            <button 
                @click="alterTheme"
                class="bg-dark text-white dark:bg-white dark:text-dark dark:hover:bg-darkb rounded-lg py-2 hover:bg-opacity-50"
            >
                {{ !mapStore.darkMode?'Dark':'White' }} Mode
            </button>
        </div>
    </transition>
</template>
  
<script setup>
    import { ref, toRaw } from 'vue';
    import { ChevronUpIcon, PlusIcon, TagIcon, ArrowPathRoundedSquareIcon  } from '@heroicons/vue/20/solid'
    import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'
    import { 
        ExclamationTriangleIcon
        , BackspaceIcon
        , DocumentArrowDownIcon
        , ShieldCheckIcon
        , XMarkIcon
        , MagnifyingGlassIcon
        , TrashIcon
        , SignalIcon
    } from '@heroicons/vue/24/outline'
    import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue'
    import { useEntities } from '@/stores/entities'
    import { useMapStore } from '@/stores/map'

    const entitiesStore = useEntities();
    const mapStore = useMapStore();
    // const nearbyShow = ref(false)
    const props = defineProps({
        isOpen: Boolean
    });
    const emit = defineEmits(['close']);

    const closeModal = () => {
        emit('close');
    };
    const cleanMap = () => {
        mapStore.cleanMap()
        entitiesStore.cleanMap()
    };

    const alterTheme = () => {
        mapStore.setDarkMode()
    }

    const getNearbyEntitys = () => {
        entitiesStore.showingNearby(mapStore.getMap, true)
        // nearbyShow.value = !nearbyShow.value
        closeModal();
    };
</script>

<style scoped>
    .btn-context{
        @apply flex justify-between 
        w-full
        px-4 py-2
        rounded-lg
        text-left text-sm font-medium text-dark
        focus:outline-none 
        focus-visible:ring focus-visible:ring-dark focus-visible:ring-opacity-75
        hover:bg-dark hover:text-white
        dark:text-white dark:hover:bg-darkb 
    }
    .icon{
        @apply mr-2 h-full
    }
    .avatar{
        @apply h-10
         p-0.5
        border-2 border-dark rounded-full
        dark:border-white
    }
    .close-icon{
        @apply w-6 h-6
            p-1
            rounded-lg
            bg-gray-100
            text-gray-300
            dark:bg-gray-600
            dark:hover:text-white
            hover:text-dark
    }
    .content-header{
        @apply flex flex-row-reverse 
            items-center justify-between
    }
    .content-modal{
        @apply max-w-xl min-h-screen
            fixed
            top-0
            right-0
            w-2/12
            p-4
            flex flex-col justify-between
            rounded-l-lg
            bg-white text-dark
            dark:bg-dark  dark:text-white
            z-50 
    }
    .modal-background{
        @apply flex
            items-center justify-center
            fixed
            h-full min-h-screen
            bg-dark bg-opacity-30
            dark:bg-white dark:bg-opacity-30
            inset-0   
    }
    .profile-section-menu{
        @apply p-1 border-b last:border-b-0
    }
    .profile-menu-item{
        @apply hover:bg-gray-500 hover:bg-opacity-30 
            h-8 p-2 
            flex 
            w-full 
            items-center rounded-md text-xs
            
    }
    .profile-menu{
        @apply flex flex-col
        justify-between
        mt-1 py-1
        text-left
    }
</style>