<template>
    <transition
      leave-active-class="transition duration-75 linear"
      leave-from-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
        <div v-show="countVessel" class="modal-background" @click="removeEntityDisplay">
        </div>
    </transition>
    <transition
      enter-active-class="transition duration-100 ease-out"
      enter-from-class="transform scale-95 opacity-0"
      enter-to-class="transform scale-100 opacity-100"
      leave-active-class="transition duration-75 ease-in"
      leave-from-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
        <div v-show="countVessel" class="content-modal">
            <div class="content-header">
                <XMarkIcon
                    class="close-icon"
                    @click="removeEntityDisplay"
                />
                
                <h3 class="embarcacao-title">EMBARCAÇÃO</h3>
                <!-- <LogoTranspetro class="w-6"/> -->
            </div>
            <div>
                <div class="line-data">
                    <h2 class="destaque">{{ vessel.item.name }} ({{ vessel.item.mmsi }})</h2>
                    <p class="destaque">
                        <flag 
                            :iso="vessel.item.iso1_code"
                            v-if="vessel.item.iso1_code"
                            class="mr-3"
                        />
                        <time  class="destaque">{{ vessel.item.commit }} GMT</time>
                    </p>
                    
                </div>
                <div class="line-data">
                    <p><span class="labels">Posição:</span>{{ vessel.item.latitude }}; {{ vessel.item.longitude }}</p>
                    <time><span class="labels">ETA:</span>{{ vessel.item.ETA }} GMT</time>
                    <p><span class="labels">Destino:</span>{{ vessel.item.destination }}</p>
                    <p><span class="labels">CALLSIGN:</span>{{ vessel.item.callsign }}</p>
                    <p><span class="labels">Rumo:</span>{{ vessel.item.heading }}°</p>
                    <p><span class="labels">Dim.:</span>{{ vessel.item.dim_breadth }}</p>
                    <p><span class="labels">Vel.:</span>{{ vessel.item.speed }}</p>
                    <p><span class="labels">Calado:</span>{{ vessel.item.dim_draught }} m</p>
                    <div class="flex flex-row border rounded-md p-1 mt-2 items-center justify-center">
                        <div>
                            <label for="daysPaths">Ultimos {{ selectedDays }} dias</label>
                            <input
                                type="range"
                                v-model="selectedDays"
                                min="1"
                                max="90"
                                default="1"
                                class="slider"
                            />
                            <label for="plot_time">Intervalo: </label>
                            <select v-model="selectedInterval" name="plot_time" id="plot_time">
                                <option value="1">1m</option>
                                <option value="5">5m</option>
                                <option value="15">15m</option>
                                <option value="60">60m</option>
                            </select>
                        </div>
                        <button class="btn-percurso" @click="getVesselPath">Percurso</button>
                    </div>
                </div>
                
                <div class="line-data">
                    <p><span class="labels">E-mail:</span> {{ vessel.item.email }}</p>
                    <p><span class="labels">Telefone:</span> {{ vessel.item.phone }}</p>
                    <p><span class="labels">VSAT:</span> {{ vessel.item.phone_satelital }}</p>
                </div>
                <div class="line-data labels">
                    Dados de tripulação não disponíveis.
                    <!-- <CalendarDaysIcon /> -->
                </div>
            </div>
        </div>
    </transition>
</template>
<script setup>
    import { XMarkIcon, CalendarDaysIcon } from '@heroicons/vue/24/outline';
    import {entityStore} from '@/stores/entity.js';
    import {useEntities} from '@/stores/entities';
    import {useVesselStore} from '@/stores/vessel';

    import { ref, computed,reactive } from 'vue';

    
    const selectedDays = ref(1)
    const selectedInterval = ref(60)
    const storeEntity = entityStore()
    const entitiesStore = useEntities()
    const vesselStore = useVesselStore()
    const vessel = reactive({item:{}})
    const props = defineProps(['visible']);

    const countVessel = computed(()=>{
        if (vesselStore.getDisplayed.value){
            vessel.item = vesselStore.getDisplayed.value[0]
            return vesselStore.getDisplayed.value.length
        } else {
            return 0
        }
    })

    const removeEntityDisplay = () => {
        entitiesStore.displayed('',false)
    };
    const emit = defineEmits(['close']);
    const closeModal = () => {
        emit('close');
    };
    const getVesselPath = () => {
        // console.log(storeEntity.getEntityDisplayed.vessel_id)
        storeEntity.setVesselPath({
            vessel_id: entitiesStore.displayed.vessel_id,
            interval: selectedInterval,
            lastDays: selectedDays
        })
    };
</script>
<style scoped>
    .content-header{
        @apply flex flex-row-reverse 
            items-center justify-around align-middle
    }
    .close-icon{
        @apply w-6 h-6
            p-1
            ml-5
            rounded-lg
            bg-gray-100
            text-gray-300
            dark:bg-gray-600
            dark:hover:text-white
            hover:text-dark
            hover:cursor-pointer
    }
    .content-modal{
        @apply max-w-xl min-h-screen
            fixed
            top-0
            left-0
            w-2/12
            p-4
            rounded-l-lg
            bg-white text-dark
            dark:bg-dark  dark:text-white
            z-50 
    }
    .modal-background{
        @apply flex
            items-center justify-center
            fixed
            z-50
            h-full min-h-screen
            bg-dark bg-opacity-30
            dark:bg-white dark:bg-opacity-30
            inset-0   
    }
    .embarcacao-model{
        @apply w-96 fixed top-0 left-0 h-screen bg-white z-50 block
    }
    .embarcacao-header{
        @apply flex flex-row items-center justify-between border-b border-b-gray-200 py-2
    }
    .embarcacao-title{
        @apply ml-11 mt-4 font-semibold text-[#6fb496] text-2xl text-center
    }
    .btn-percurso{
        @apply text-center w-full p-2 bg-brgreen bg-opacity-50 h-full
        hover:bg-opacity-80 font-semibold text-white rounded-lg
    }
    .labels{
        @apply mr-2 font-semibold text-[#777777]
    }
    .destaque{
        @apply text-xl font-semibold text-[#777777]
    }
    .line-data{
        @apply py-2 my-2 px-5
        text-lg
        text-[#777777]
        border-t
        flex flex-col
        last:mb-0 last:border-b-0 last:text-center last:px-1
        first:mt-0 first:border-t-0 first:text-center first:px-1
    }
</style>