<template>
	<header class="horizontal-bar-content">
        <!-- <MenuModel :is-open="is_expanded" @close="ToggleMenu"/> -->
        <ContextMenu 
            :is-open="is_expanded" 
            @close="ToggleMenu"
        />
        <div class="segment-right">
            <SearchBar class="search-bar" @searchTest="searchTest"></SearchBar>
            <Bars3Icon
                @click="ToggleMenu"
                class="toggle-menu"
                aria-hidden="true"
            />
		</div>
        
		<div class="segment-left">
            <LogoTranspetro class="ml-5 h-5"/>
            <div class="flex flex-row mx-auto h-8">
                <h3 class="ml-3 duration-500 font-bold my-auto"><slot/></h3>
            </div>
            <!-- <IconsNotifications class="icons-notification" /> -->
            <!-- <ProfileBar class="flex-auto justify-end"/> -->
		</div>
    </header>
</template>

<script setup>
    import { ref } from 'vue';
    import { Bars3Icon } from '@heroicons/vue/24/outline'
    import ContextMenu from './ContextMenu.vue';
    import SearchBar from '@/components/SearchBar.vue'
    // import ProfileBar from '@/components/ProfileBar.vue'
    // import IconsNotifications from '@/components/IconsNotifications.vue';
    // import MenuModel from '@/components/MenuModel.vue';
    // import { auditStore } from '../stores/audits.js'
    // import { menuStore } from '../stores/menu-store.js'
    // import { userStore } from '../stores/user.js'
    import LogoTranspetro from '@/components/LogoTranspetro.vue'

    // const store = userStore();
    // const mStore = menuStore();
    // const storeAudit = auditStore();
    const is_expanded = ref(false); //store.getPreferences.menu_expanded);

    function searchTest(string_serch) {
        if(string_serch){
            return string_serch
    //         return storeAudit.setSelecteds(string_serch)
        }else{
            return string_serch
    //         return storeAudit.setSelecteds('')
        }
    }
const ToggleMenu = () => {
	is_expanded.value = !is_expanded.value;
//     mStore.setMenuExpanded(is_expanded.value);
}
</script>

<style scoped>
    .icons-notification{
        @apply flex-auto justify-end 
            w-16 h-8 
            py-4
    }
    .search-bar{
        @apply flex-initial 
            w-64 
            my-2 ml-10
            w-96
    }
    .toggle-menu {
        @apply w-8
            p-1
            ml-5
            dark:text-white
            hover:bg-gray-500 hover:bg-opacity-30 hover:rounded-full
    }
    .segment-left{
        @apply flex flex-row 
            items-center
    }
    .segment-right{
        @apply flex 
            items-center 
            h-full
            mr-2
            pl-0.5
    }
    .horizontal-bar-content {
        @apply flex flex-row
            items-center
            justify-between
            h-full
            dark:text-white
            pb-2
            z-50
    }
</style>