<template>
    <div class="flex flex-row z-40 items-center">
      <img :src="logo_transp" class="w-5 h-5 bg-white dark:bg-transparent">
      <p class="text-xl font-extrabold ml-2 text-brgreen dark:text-white">TRANSPETRO</p>
    </div>
</template>
<script setup>
  import { watch, computed, ref } from 'vue'
  import { useMapStore } from '@/stores/map'
  import logo_tradicional from '@/assets/transpetro.svg'
  import logo_mono from '@/assets/transpetro_mono.svg'
  const mapStore = useMapStore()

  const logo_transp = ref(logo_tradicional)

  const alterTheme = (newValue, oldValue)=>{
    if (newValue === true){
      logo_transp.value = logo_mono
    } else {
      logo_transp.value = logo_tradicional
    }
  }

  watch(() => mapStore.darkMode, alterTheme)

</script>
<style scoped>
    
</style>