<template>
  <div>
    <div id="map" class="h-screen w-full"></div>
  </div>
</template>

<script setup props="['mapConfig', 'apiKey']">
  import { ref, onMounted, reactive, watch, toRaw } from 'vue'
  import { Loader } from '@googlemaps/js-api-loader'
  import safe_dataserver from '@/services/safe_dataserver.js'
  import local_dataserver from '@/services/local_dataserver.js'
  import { useMapStore } from '@/stores/map.js'
  import {entityStore} from '@/stores/entity.js'
  import { useEntities } from '@/stores/entities.js'
  import {createSvgBlobFromPath} from '@/composables/SvgUtilsComposition.js'

  const storeMap = useMapStore()
  const entitiesStore = useEntities()
  const storeEntity = entityStore()
  
  const props = defineProps([
    'mapConfig', 'apiKey'
  ]);
  
  const marker = ref(null);
  const loader = ref(null);

  const createVesselPath = (newValue, oldValue) => {
    // Faça o que for necessário com a nova e antiga valor da variável
    const startDate = new Date().toISOString();
    const endDate = new Date(new Date() - (newValue.lastDays * 24 * 60 * 60 * 1000)).toISOString();
    var params = `vessel_id=${newValue.vessel_id}&dti=${endDate}&dtf=${startDate}&skip=1&plot_time=${newValue.interval}`
    
    createPath(params)
  };

  const createPath = async (params) => {
    const {data} = await safe_dataserver.get(`/waypoint/?${params}`);

    const vesselPlanCoordinates  = data.data.map(item => {
      return {
        lat: item.latitude,
        lng: item.longitude
      };
    });

    if (vesselPlanCoordinates.length > 0){
      mapStore.createPath(params)
    }
    
  }

  const loadData = async () => {
    console.log('carregando porto, terminais, frota, outros navios e rotas')
    
    const {data} = await local_dataserver.get('/entities');

    entitiesStore.setEntities(data)

    entitiesStore.generateMarker(null, marker.value, 'port')
    entitiesStore.generateMarker(storeMap.getMap, marker.value, 'fleet')
    entitiesStore.generateMarker(null, marker.value, 'nearby')

    
  }

  onMounted(async ()=> {
    loader.value = new Loader({
      apiKey: props.apiKey,
      version: "weekly",
      libraries: ["places"]
    })
    
    loader.value.importLibrary('maps').then(({Map}) => {
      storeMap.setMap(new Map(document.getElementById("map"), props.mapConfig));
      storeMap.setZoom({ minZoom: 3, maxZoom: 18 });
      
      // --
      // google.maps.event.addListener(map.value, 'zoom_changed', function() {
      //   var zoomVal = map.value.getZoom()
      //   if (zoomVal>9) {
      //     if (clusterMarkers.length > 0) {
      //       clusterMarkers.forEach(element => {
      //         toRaw(element).setMap(null)
      //       });
      //       clusterMarkers.splice(0)
      //       hiddenNearby(false)
      //     }
      //   }
      //   if (zoomVal< 10){
      //     let cTh;
      //     switch(zoomVal) {
      //       case 10: case 9:
      //         cTh = .2
      //         break;
      //       case 8: case 7:
      //         cTh = 2
      //         break;
      //       case 6: case 5:
      //         cTh = 4
      //         break;
      //       default:
      //         cTh = 6
      //     }

      //     hiddenNearby();
      //     console.log(cTh)
      //     const clusters = [];
      //     const groupedShips = {};
      //     const clusterThreshold = cTh;

      //     nearbyMarkers.forEach((ship) => {
      //       const vessel = storeEntity.getNearbyEntitys.filter(nearby => {
      //         return nearby.vessel == ship.vessel
      //       })
      //       const latRounded = Math.floor(vessel[0].latitude / clusterThreshold) * clusterThreshold;
      //       const lngRounded = Math.floor(vessel[0].longitude / clusterThreshold) * clusterThreshold;
      //       const key = `${latRounded}_${lngRounded}`;
      //       if (!groupedShips[key]) {
      //         groupedShips[key] = [];
      //       }
      //       groupedShips[key].push(vessel);
      //     });

      //     for (const key in groupedShips) {
      //       const [lat, lng] = key.split('_');
      //       const cluster = {
      //         latitude: parseFloat(lat),
      //         longitude: parseFloat(lng),
      //         count: groupedShips[key].length,
      //         ships: groupedShips[key]
      //       };
      //       clusters.push(cluster);
      //     }
      //     if (clusterMarkers.length > 0) {
      //       clusterMarkers.forEach(element => {
      //         toRaw(element).setMap(null)
      //       });
      //       clusterMarkers.splice(0)
      //     }
      //     clusters.forEach(c => {
      //       const count = c.count;
      //       var bounds = new google.maps.LatLngBounds()
      //       c.ships.forEach((ship) => {
      //         bounds.extend(new google.maps.LatLng(ship[0].latitude, ship[0].longitude));
      //       });
            
      //       let color;
      //       if (count <= 10) {
      //         color = '#0070FF'; // Azul
      //       } else if (count <= 20) {
      //         color = '#FFC107'; // Amarelo
      //       } else if (count <= 30) {
      //         color = '#FF5722'; // Laranja
      //       } else {
      //         color = '#F44336'; // Vermelho
      //       }
            
      //       const marker = new google.maps.Marker({
      //         position: bounds.getCenter(),
      //         map: map.value,
      //         icon: {
      //           path: google.maps.SymbolPath.CIRCLE,
      //           fillColor: color,
      //           fillOpacity: 0.4,
      //           scale: 30,
      //           strokeWeight: 0
      //         },
      //         label: {
      //           text: count.toString(),
      //           color: '#000000',
      //           fontSize: '18px',
      //           opacity: 1 // Opacidade 100% para o número
      //         }
      //       });
            
      //       clusterMarkers.push(marker)
      //     });
      //   }
      // });
      // --
    })
    
    loader.value.importLibrary('marker').then(({Marker}) => {
      marker.value = Marker
      loadData()
      // setInterval(vessel, 60000);
      // setInterval(signalVessel, 3000);
    });
    setInterval(entitiesStore.signalFleet, 2000)
    // entitiesStore.showingNearby(map.value, true)
  })

  watch(() => storeEntity.vesselPath, createVesselPath);
  watch(() => storeMap.centerMap, (newValue, oldValue) => {
    toRaw(storeMap.getMap).setCenter(newValue)
  });

  watch(() => storeMap.darkMode, (newValue, oldValue)=>{
    if (newValue === true) {
      toRaw(storeMap.getMap).setOptions({
        styles:[
          {
            "elementType": "geometry",
            "stylers": [{
              "color": "#212121"
            }]
          },
          {
            "elementType": "labels.icon",
            "stylers": [{
              "visibility": "off"
            }]
          },
          {
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#757575"
            }]
          },
          {
            "elementType": "labels.text.stroke",
            "stylers": [{
              "color": "#212121"
            }]
          },
          {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [{
              "color": "#757575"
            }]
          },
          {
            "featureType": "administrative.country",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#9e9e9e"
            }]
          },
          {
            "featureType": "administrative.land_parcel",
            "stylers": [{
              "visibility": "off"
            }]
          },
          {
            "featureType": "administrative.locality",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#bdbdbd"
            }]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#757575"
            }]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [{
              "color": "#181818"
            }]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#616161"
            }]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text.stroke",
            "stylers": [{
              "color": "#1b1b1b"
            }]
          },
          {
            "featureType": "road",
            "elementType": "geometry.fill",
            "stylers": [{
              "color": "#2c2c2c"
            }]
          },
          {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#8a8a8a"
            }]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [{
              "color": "#373737"
            }]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{
              "color": "#3c3c3c"
            }]
          },
          {
            "featureType": "road.highway.controlled_access",
            "elementType": "geometry",
            "stylers": [{
              "color": "#4e4e4e"
            }]
          },
          {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#616161"
            }]
          },
          {
            "featureType": "transit",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#757575"
            }]
          },
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [{
              "color": "#777777"
            }]
          },
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [{
              "color": "#3d3d3d"
            }]
          }
        ]
      })
    } else {
      toRaw(storeMap.getMap).setOptions({
        styles:[]
      })
    }
    
  })
</script>

<style scoped>
</style>