<template>
    <section class="flex flex-row h-9">
        <input 
            v-model="searchQuery"
            type="text"
            name="search" id="search-bar"
            placeholder="Embarcações, Portos, Terminais ..."
            autocomplete="off"
            @keyup="selectEntity"
        >
        <XMarkIcon class="btn-clean" @click="cleanSelecteds"/>
        <!-- <MagnifyingGlassIcon class="btn-search" @click="selectEntity"/> -->
    </section>
</template>
<script setup>
    import { XMarkIcon, MagnifyingGlassIcon } from '@heroicons/vue/24/outline'
    import { onMounted, ref, reactive, watch } from 'vue';
    import { useEntities } from '@/stores/entities.js'

    const searchQuery = ref("")
    const entitiesStore = useEntities()
    

    const selectEntity = () =>{
        if (searchQuery.value.length >=3){
            entitiesStore.getFromQuery(searchQuery.value)
        } else {
            entitiesStore.getFromQuery("")
        }
    }
    const cleanSelecteds = () => {
        searchQuery.value = ""
        entitiesStore.setCleanQuery()
    };

    watch(() => entitiesStore.cleanQuery, (newValue, oldValue) => {
        if (newValue == true){
            cleanSelecteds()
        }
    });
</script>
<style scoped>
    .btn-clean{
        @apply p-1 w-14 bg-white border border-l-0 rounded-r-lg
            hover:cursor-pointer 
            hover:text-gray-500 
            dark:bg-dark dark:border-darkb dark:border-opacity-80
    }
    .btn-search {
        @apply p-1 
        bg-[#68b48c] rounded-r-xl ml-0.5 w-14 text-white 
        hover:cursor-pointer hover:bg-brgreen
    }

    #search-bar{
    @apply p-2
        w-96
        h-full outline-none
        border
        rounded-l-xl
        text-base text-[#999999]
        dark:bg-dark dark:text-white
        dark:border-darkb dark:border-opacity-80
    }
</style>