/* ./src/index.css */
@tailwind base;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@tailwind components;

@tailwind utilities;

/* .marker-position {
    @apply bottom-8
        relative inline-block
        py-1 px-2
        border border-[#ccc] rounded-lg
        text-center text-['#777']
        shadow-md
        bg-gradient-to-r from-white to-[#f2f2f2]
        after:content-none
        after:absolute
        after:-bottom-1/2
        after:left-1/2
} */
.marker-position {
    @apply bottom-8
        relative inline-block
        py-1 px-2
        p-5
        border border-[#ccc] rounded-lg
        text-center text-[#777]
        shadow-md
        bg-gradient-to-r from-white to-[#f2f2f2]
        before:content-normal
        before:absolute
        before:-bottom-3/4
        before:left-1/2
        before:-translate-x-1/2
        before:border-8
        before:border-transparent
        before:border-t-[#f2f2f2]
}